$foreground-color: #111111;
$background-color: #f9e4f3;
$highlight-color: #fe7496;
$theme-light: #fcc439;
$theme-dark: #b11e88;

$navbar-height: 80px;
$navbar-mobile-height: 40px;
$navbar-total-height: calc($navbar-height + 20px);
$navbar-mobile-total-height: calc($navbar-mobile-height + 20px);