@use './styles/variables';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - variables.$navbar-height);
    gap: 20px;
}

.heroImage {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;

    img {
        max-width: 100%;
        height: auto;
    }

    div {
        max-width: 550px;
        text-align: left;
        position: relative;
        margin-top: 40px;
    }

    h4 {
        margin-top: -20px;
        position: relative;
        font-weight: 300;
    }
}

.heroContainer {
    text-align: center;
    font-size: 28px;
    padding: 40px;
    h1 {
        margin-top: 0;
    }

    input[type=tel] {
        font-family: inherit;
        padding: 5px;
        font-size: inherit;
        background-color: #220;
        padding: 20px;
        color: white;
        width: 200px;
        text-align: center;
        border: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: 2px solid #220;
        transition: border-color 0.5s ease-out, padding-left 0.5s ease-out;
        position: relative;

        &::placeholder {
            color: red;
        }

        &:focus {
            outline: none;

            &::placeholder {
                color: transparent;
            }
        }
    }

    button {
        font-family: inherit;
        font-size: 17px;
        cursor: pointer;
        padding: 0 10px;
        border: none;
        border-radius: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: background-color 0.5s ease-out, color 0.5s ease-out, border-color 0.5s ease-out, left 0.5s ease-out, margin 0.5s ease-out, padding 0.5s ease-out;
        border: 2px solid #220;
        border-left: none;
        margin-right: 0;
        position: relative;
        z-index: 3;
        left: -2px;
        color: #220;

        &::before {
            content: '';
            position: absolute;
            top: -2px;
            left: -20px;
            width: 20px;
            height: 100%;
            background-color: transparent;
            border: 2px solid #220;
            border-left-color: transparent;
            border-right-color: transparent;
            transition: border-color 0.5s ease-out;
        }

        &:hover {
            background-color: #220;
            color: white;
            border-top-color: white;
            border-bottom-color: white;
            border-right-color: white;
            left: -30px;
            margin-right: -20px;
            padding-right: 20px;

            &::before {
                border-top-color: white;
                border-bottom-color: white;
            }
        }

        &:active {
            filter: brightness(150%);
        }
    }

    button:hover + input {
        border-color: white;
        border-right-color: transparent;
        padding-left: 0px;
    }

    button:active + input {
        filter: brightness(150%);
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #220 inset;
        -webkit-text-fill-color: white;
    }
}

.formContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    font-size: 20px;
    gap: 10px;

    input[type=text] {
        outline: none;
        padding: 5px;
        font-family: inherit;
        font-size: inherit;
        color: variables.$theme-dark;
        position: relative;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(variables.$theme-dark, 0.5);
        border-radius: 0;
        padding-right: 30px;

        &::placeholder {
            color: rgba(variables.$theme-dark, 0.6);
        }

        &:focus {
            outline: none;
            border-bottom: 1px solid variables.$theme-dark;
        }
    }

    input[type=submit] {
        background-color: variables.$theme-dark;
        color: variables.$background-color;
        cursor: pointer;
        outline: none;
        padding: 5px 10px;
        font: inherit;
        border: none;
        border-radius: 5px;
        transition: background-color 0.2s ease-out, color 0.2s ease-out;

        &:hover {
            background-color: variables.$highlight-color;
            color: variables.$foreground-color;
        }

        &:active {
            filter: brightness(80%);
        }
    }
}

.addressInput {
    position: relative;
    &:focus-within {
        &::after {
            content: 'Start typing and select a location from the dropdown';
            position: absolute;
            top: -1.2em;
            left: 0;
            font-size: 0.7em;
            color: variables.$theme-dark;
        }
    }
}

.link {

    text-align: center;
    margin-top: 20px;

    a {
        text-decoration: underline;
        transition: all 0.2s ease-out;
        &:hover {
            color: variables.$highlight-color;
        }
    }
}

@media screen and (max-width: 700px) {

    .container {
        height: auto;
        gap: 0;

        form {
            background-color: variables.$theme-light;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 15px 0 rgba(black, 0.2);
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 20px;
        }
    }

    .heroContainer {
        padding-bottom: 0;

        h1 {
            font-size: 1.4em;
            margin-top: 0;
        }
    }

    .heroImage {
        flex-direction: column;
        gap: 0;

        img {
            width: auto;
        }

        div {
            text-align: center;
            margin-top: 30px;
        }
    }

    .formContainer {
        flex-direction: column;

        input[type=text] {
            width: 100%;
            padding: 5px;
            background-color: variables.$background-color;
            border: none;
            border-radius: 5px;

            &:focus {
                border: none;
                outline: variables.$highlight-color solid 2px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .heroContainer {
        h1 {
            font-size: 1.1em;
            margin-bottom: 25px;
        }

        h4 {
            font-size: 0.8em;
        }
    }
}